<div ng-controller="updateCtrl">
    <div class="table-cont">
        <table class="table-dark table-bordered w-100 text-center">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Location</th>
            </thead>
            <tbody>
            <tr ng-repeat="x in data | filter: test">
                <td>{{x.emp_id}}</td>
                <td>{{x.emp_name}}</td>
                <td>{{x.emp_desig}}</td>
                <td>{{x.emp_dept}}</td>
                <td>{{x.emp_salary}}</td>
                <td>{{x.emp_location}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="updateCont text-center mt-4">
        <h3 class="text-light">UPDATE</h3>
        <div class="updateForm">
            <form ng-submit="update()" class="d-flex flex-column" style="gap: 10px">
                <select name="selId" id="selId" ng-options="x.emp_id for x in datas" ng-model="emp_id" ng-change="getId()">
                    <option value="#" selected>Choose ID</option>
                </select>
                <input type="text" name="id" id="id" ng-model="emp_id" placeholder="Enter ID">
                <input type="text" name="name" id="name" ng-model="emp_name" placeholder="Enter Name">
                <input type="text" name="desig" id="desig" ng-model="emp_desig" placeholder="Enter Designation">
                <input type="text" name="dept" id="dept" ng-model="emp_dept" placeholder="Enter Department">
                <input type="text" name="salary" id="salary" ng-model="emp_salary" placeholder="Enter Salary">
                <input type="text" name="location" id="location" ng-model="emp_location" placeholder="Enter Location">
                <button type="submit" class="btn btn-outline-light mt-4">Update</button>
            </form>
        </div>
    </div>
</div>